//- --------------------------------------------------------------------------
//- Header
//- --------------------------------------------------------------------------
//- include _mixins

.container-fluid

	p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Даль точках инициал текст заманивший. Свой, бросил ipsum щеке пунктуация одна города пор lorem мир свое рыбного агенство, даже страну.
	p Единственное, курсивных, путь. Выйти взобравшись, рыбными агенство, своего, запятой залетают несколько рот страну власти за, сбить живет. Прямо переписали страна скатился использовало ты эта взобравшись даже, коварный всемогущая несколько рукопись.

	+sprite('categories-1')
	+sprite('categories-2')
	+sprite('categories-3')
	+sprite('categories-4')
	
	
					
						
						

						
			
			
			


