---
title: Gulp TMPL
bodyClass: page-homepage
---
extends includes/_app

block main
	

	// Block :: Start
	section.steps
		.container-fluid

			h1 Hello 1

			+img('http://res.cloudinary.com/more-ryadom/image/upload/t_resort_12_mw1200/pic-1.jpg')
								


	// Block :: End
	
