---
title: Gulp TMPL
bodyClass: page-styleguide
---
extends includes/_app
block main
    

    .container-fluid
        h1 Hello it's my workflow update 4

        span.icon-info-beach

        span.icon-info-children

        span.icon-info-health

        span.icon-info-party

        +sprite('categories-1')



        input(type="text" placeholder="" readonly).app-input.js-datepicker
        

        p
            a(href="http://farm4.staticflickr.com/3721/9207329484_ba28755ec4_o.jpg" data-mfp) Test
        
        .js-scroll(style="height: 200px;max-height: 200px;margin: 0 0 20px;")
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum cupiditate deserunt accusamus consequuntur vitae, assumenda labore dicta obcaecati eligendi dignissimos magni quam, voluptatibus excepturi voluptas, natus nesciunt voluptatem. Deserunt, soluta.
            p Facilis, cum fuga a doloremque. Quae odit, mollitia perspiciatis. Dolore porro, aliquid quidem fuga est, hic libero quia eligendi inventore odio quibusdam quos consectetur quo commodi atque tenetur accusantium. Obcaecati!
            p Tempore sunt est autem, fuga totam quidem nobis saepe, voluptatem illo beatae aliquam similique repudiandae, maxime illum alias, accusantium! Magnam, cupiditate exercitationem iusto sunt repellat non aperiam, quidem illo quas.
            p Modi non error, quam sit ad facere similique quasi earum, laudantium quaerat, consectetur, vero vel quia! Assumenda, praesentium. Commodi voluptates facilis eligendi recusandae enim est provident fuga distinctio maxime soluta.
            p Iure, eaque magni odit porro necessitatibus ad aspernatur in officiis sunt reiciendis. Voluptas, quod, ea quam atque exercitationem totam optio odit. Eum expedita dolor ipsam, ipsa assumenda, similique quasi. Obcaecati.
    
   
    


        #map(style="height: 400px; background: #ccc; margin: 0 0 20px;")

        


        img(data-src="http://farm4.staticflickr.com/3721/9207329484_ba28755ec4_o.jpg", alt="" style="height: 400px; background: #ccc; margin: 0 0 20px;").lazy

        form(action="#").js-validate


            input(type="tel" name="tel").app-input

            input(type="email" name="email").app-input

            input(type="range").app-input


            select(name="").app-select
                option 1
                option 2
                option 3
                option 4
                option 1
                option 2
                option 3
                option 4
                option 1
                option 2
                option 3
                option 4

            button.btn button
        
        h1.iphone iphone


        h2.animation animation

        div(data-slick='{"slidesToShow": 4, "slidesToScroll": 4}').js-slick
            <div><h3>1</h3></div>
            <div><h3>2</h3></div>
            <div><h3>3</h3></div>


        article(style="max-height: 100px; overflow: hidden;")
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis facilis repellendus sequi, inventore deserunt adipisci architecto omnis odio perferendis nesciunt error voluptatum illo, ea id fuga nemo nihil! Voluptate, alias?
            p Minima expedita impedit repudiandae harum ipsum doloremque cupiditate consequuntur quidem nam. Eaque modi similique libero error, temporibus deserunt molestias magni quasi dolor, culpa dolore. Consectetur animi modi quos reiciendis provident!
            p Nisi dolore, voluptatem reprehenderit earum, dolorem facilis beatae et laborum nam, quibusdam nobis magnam. Nam repellendus officiis amet, sit fugiat in asperiores facilis provident tempore impedit placeat! Inventore, explicabo, aliquam.
            p Tempore aperiam doloribus odit, culpa porro inventore vel facilis, ipsum architecto, dolor minus voluptas laborum? Possimus expedita ipsum vitae saepe est, iste perferendis placeat, architecto nostrum soluta temporibus distinctio, consequatur!
        
        hr

        b.js-number 20



    

